/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */



/*===============================================================================*/
/*                                  Mobile                                       */
/*===============================================================================*/

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
#logo {
	height: 55px;
}

.playfair-black {
	font-family: 'Playfair Display', serif;
	font-weight: 900;
}
.playfair {
	font-family: 'Playfair-Display', serif;
}
.raleway {
	font-family: 'Raleway', sans-serif;

}
.raleway-bold {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}



/*===============================================================================*/
/*                                  Tablet                                       */
/*===============================================================================*/
@media only screen and (min-width: 600px) {



#logo {
	height: 60px;
}



}
/*===============================================================================*/
/*                                  Desktop                                      */
/*===============================================================================*/
@media only screen and (min-width: 992px) {



/**/



}