/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}








body {
	height: 800px;
	background-image: url(images/penguins-ice.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.logo {
	float: left;
	font-size: 30px;
	margin-left: 15px;
	margin-top: 15px;
	text-decoration: none;
	color: #222222;
}

.logo:hover {
	text-decoration: underline;
	color: #dddddd;
}

nav {
	float: right;
	font-size: 25px;
	margin-right: 30px;
	margin-top: 30px;
}

nav a {
	text-decoration: none;
	color: #222222;
	padding-left: 15px;
}

nav a:hover {
	text-decoration: underline;
	color: #dddddd;
}

#company-name {
	text-align: center;
	clear: both;
	padding-top: 50px;
	font-size: 60px;
	color: #222222;
}

#company-slogan-1 {
	text-align: center;
	clear: both;
	margin-top: -10px;
	font-size: 25px;
	color: #222222;

}

#company-slogan-2 {
	text-align: center;
	clear: both;
	margin-top: -25px;
	font-size: 25px;
	color: #222222;

}

footer {
	height: 350px;
	background-color: #888888;
	margin-top: 800px;
}

.contact-form {
	padding-top: 45px;
}

#form-title {
	margin-left: 55%;
	font-size: 25px;
	margin-top: -25px;
}

.form-row {
	clear: both;
	padding-top: 10px;


}

.form-row label {
	margin-left: 40%;
	color: #222222;
	display: inline-block;
	width: 100px;
	padding-top: 15px;
	font-size: 20px;
}

.form-row input {
	display: inline-block;
	width: 400px;
	height: 25px;
}

#form-message-box {
	height: 110px;
	margin-top: 10px;
}

#submit-button {
	margin-left: 1077px;
	margin-top: 20px;
	height: 30px;
	width: 100px;
	font-size: 15px;
}

