html, body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #F4DAB3;
}

.menu {
	height: 5%;
	
}

h1, h3 {
	margin: auto;
	font-weight: 500;
	padding-left: 10%;
	padding-bottom: 5%;
	padding-top: 10%;
	color: #E7E4E6;


}

p {
	margin: auto;
	font-weight: 500;
	font-size: 18px;
	padding-bottom: 10%;
	color: #E7E4E6;

}

a {
	color: #E7E4E6;
}

md-list-item > a {
	width: 100%;
	text-align: left !important;
}

md-list-item > md-button {
	text-align: right !important;
}

md-list-item > a > span {
	color: #E7E4E6;
}

md-sidenav {
	background-color: #3D442F;
}

md-content {
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 5px;
	background-color: #ABC2DB;
}

img {
	border-radius: 10%;
	padding: 1%;
	background-color: #3D442F;
	margin-left: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
}

.md-headline {
	margin: auto;
	color: #E7E4E6;

}

.contactInfo {
	margin-left: 12.5%;
	margin-top: 6.5%;
	height: 80%;
	border: 20px;
	border-color: #3D442F;
	border-radius: 5%;
}

div.injectContainer {
	width: 100% !important;
	height: 100% !important;
}



md-card-actions {
	color: #E7E4E6;
}

md-card {
	margin: auto;
	background-color: #7691B5;
	width: 100%!important;
	margin-bottom: 1%;
	margin-top: 1%;
}

md-card-title-text {

}

md-card-content {
	margin: auto;
	width: 90%;
	margin-bottom: 2%;
}
