
/* Navigation Mobile */
body > div > div > header > div.mdl-layout__drawer-button {
	display: block;
}
body > div > div > header > div.mdl-layout__drawer-button > i {
	margin-top: 10%;
	font-size: 36px;
	color: #F6643E;
}
#toolbar {

}

#toolbarLogo {
	margin: auto;
	height: 50px;
}

#toolbarSpacer, 
#toolbarNav {
	display: none;
}
/* END Navigation Mobile */

/* Section 1 Mobile */


#heroSection {
	height: 130vw;
	width: 100vw;
}
#heroImage {
	height: 80vw;
	width: 100vw;
}
#heroText {
	height: 45vw;
	width: 100vw;
	background-color: #00BED4;
}
#siteSlogan {
	text-align: left;
	margin-left: 10vw;
	margin-top: 10vw;
	font-family: 'Playfair Display', serif;
	font-weight: 700;
}
#siteTagline {
	margin: auto;
	padding: 3%;
	width: 80vw;
	font-size: 1.25em;
	font-family: 'Raleway', sans-serif;
	color: #ffffff;
}
#callToActionButton {
	margin-left: 33vw;
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}
/* END Section 1 Mobile*/

/* Section 2 Mobile */
#featureSection {
	height: 165vw;
	width: 100vw;
	display: inline-block;
}

#featureSectionTitle {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 28px;

}

#featuresLeft {
	float: left;	
	margin-left: 7vw;
	width: 45vw;
}

#featuresRight {
	float: right;
	margin-right: 3vw;
	width: 45vw;

}

div.featureCard {
	height: 40vw;
	min-height: 10px !important;
	width: 40vw;
	background-color: #00BED4;
	margin-top: 5vw;
}

.cardTitle {
	font-size: 1.25em;
	text-align: center;
	margin-top: 3vw;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color: #ffffff;

}
/* END Section 2 Mobile */

/* Section 3 Mobile */
#businessSection {
	width: 100vw;
	height: 175vw;
	background-color: #00BED4;
}

#businessSectionTitle {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 28px;
	padding-top: 10vw;
	color: #ffffff;
}

#businessImage{
	height: 40vw;
	width: 100vw;
}
#businessImageText{
	font-family: 'Raleway ', sans-serif;
	font-weight: 300;
	text-align: center;
	font-style: italic;
	font-size: 1.5em;
	color: #ffffff;
	width: 80vw;
	margin: auto;
}
#businessImageAuthor{
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	text-align: right;
	width: 70vw;
	margin: auto;
	color: #ffffff;
	font-size: 1.2em;
}
#businessTextBox{
	width: 90vw;
	margin-left: 5vw;
	height: 80vw;
	background-color: #ffffff;
	margin-top: 10vw;
}
#businessText{
	padding: 10%;
	padding-bottom: 0%;
	font-size: 1.3em;
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	text-align: center;
}
#businessActionButton {
	margin-left: 33vw;
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}
/* END Section 3 Mobile */

