html {
	background-color: #7893B3;
}

a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
	font-size: 1em;
}

a:hover {
	text-decoration: underline;
	color: #ffffff;
}

ul {
	list-style: none;
}

.banner {
	background-image: url("images/wireframes.jpg");
	width: 98%;
	height: 500px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	margin: 1%;
	margin-right: -5%;
}

.brand p {
	text-align: center;
	font-size: 1.5em;
}

#company-title {
	font-size: 5em;
	font-weight: bolder;
	color: #DE9078;
	margin-top: -25%;
	margin-left: -18%;
}

#company-slogan {
	font-weight:bold;
	margin-top: -11%;
	color: #DE9078;	
	margin-left: -37%;
}

.engage-button {
	width: 160px;
	height: 40px;
	margin-left: 70%;
	margin-right: 10%;
	margin-bottom: -20%;
}

.benefit {
	text-align: center;
	margin-top: 35%;
}

md-card, .testimonial {
	background-color: #FAE0C3;
	padding: 2%;
	
}


.md-button {
	background-color: #EDEAEB;
}

.md-button:hover {
	background-color: #BACEE1;
}

md-toolbar, .banner, .benefit-cards, .testimonials{
	background-color: #B8B8B8;
}

.footer {
	background-color: #BACEE1;
}


.testimonials md-card-content p {
	font-size: 1em;
}

md-card {
	height: 300px;

}



@media screen and (min-width: 768px) {
	md-card {
		width: 98%;
		height: 300px;
	}
	
	.testimonials md-card-content p {
		font-size: 1.5em;
	}	
}