html {

}



a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
	font-size: 1em;
}

a:hover {
	text-decoration: underline;
	color: #ffffff;
}

ul {
	list-style: none;
}

md-toolbar {
	background-color: #444;
}

.md-toolbar-tools {

}


.banner {
	background-image: url("images/MobileSiteBackground.png");
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: 100% 125%;
	z-index: 0;
	
}

.sidebar {
	width: 300px;
	height: 100%;
	background: rgba(255, 255, 255, .7);
	z-index: 10;
	margin-top: 0%;
	position: absolute;
	opacity: 80%;
}

.logo {
 	font-size: 2em;
 	margin-left: 25px;
 	margin-top: 25px;
 	font-weight: bold;
}

.companyName {
 	font-size: 2em;
 	margin-left: 0px;
 	margin-top: 50px;
 	line-height: 10px;
 	font-weight: bold;
 	text-align: center;
}

.navMenu {
	display: inline-block;
    vertical-align: middle;
    line-height: 50px;
    margin-left: 5px;
}

.footer {
	background-color: #444;
}

.profilePicture {
	width: 200px;
	height: 300px;
	margin-left: 50px;
}


@media screen and (min-width: 768px) {
	

	.banner {
		background-image: url("images/DesktopSiteBackground.png");
		width: 100%;
		height: 100%;
		background-size: 100% 125%;
		background-repeat: no-repeat;
		z-index: 2;
		
	}
	
}