html {

}



a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
	font-size: 1em;
}

a:hover {
	text-decoration: underline;
	color: #ffffff;
}

ul {
	list-style: none;
}

md-toolbar {
	background-color: #444;
}

.md-toolbar-tools {

}


.banner {
	background-image: url("images/wireframes.jpg");
	width: 100%;
	height: 50%;
	background-size: 100% 125%;
	background-repeat: no-repeat;
	z-index: 2;
	
}

.banner-bottom {
	width: 100%;
	height: 50%;
	background-color: #48b;
	margin-top: -20vh;
	z-index: 2;
}

.layover {
	z-index: 100;
}

.company-name {
	font-family: futura;
	font-size: 2.5em;
	color: #bbb;
	background-color: #444;
	margin-left: 15%;
	margin-top: 10%;
	width: 70%;
	height: 25%;
	text-align: center;
	padding-top: 1%;
	z-index: 2;

}

.headshot-container {
	background-color: #444;
	height: 320px;
	width: 220px;
	margin-top: -40%;
	max-width: 220px;
	max-height: 320px;

}

#headshot {
	width: 200px;
	height: 300px;
	margin-top: 5%;
	margin-left: 5%;
}



.social-feed {
	width: 100vw;
	height: 100vh;
	background-color: #444;
	margin-top: 0vh;
	margin-right: 5%;
	float: right;
	z-index: 2;
}

.social-item {
	background-color: #888;
	width: 90vw;
	height: 10%;
	color: #fff;
}



.brand p {
	text-align: center;
	font-size: 1.5em;
}

.benefit {
	text-align: center;
	margin-top: 35%;
}

md-card, .testimonial {
	background-color: #888;
	padding: 2%;
	margin: 5%;
	
}


.md-button {
	background-color: #EDEAEB;
}

.md-button:hover {
	background-color: #BACEE1;
}

.benefit-cards {
	background-color: #b48;
	height: 100%;
	width: 100%;
}

.testimonials {
	background-color: #4b8;
}

.footer {
	background-color: #444;
}


.testimonials md-card-content p {
	font-size: 1em;
}

md-card {
	height: 30%;

}



@media screen and (min-width: 768px) {
	md-card {
		
	}
	
	.testimonials md-card-content p {
		font-size: 1.5em;
	}	
}