<!-- about page code -->

<div class="row">
	
	<!-- column one named view -->
	<!-- re-usable table to place anywhere -->
<md-content class="md-padding" layout="column">	
	<div flex-xs flex-gt-xs="50" layout="column">
	  	<md-card md-theme="blue" md-theme-watch ng-repeat="card in cards">
	        <md-card-title>
	      		<md-card-title-text>
	            	<span class="md-headline">{{ card.title }}</span>

	          	</md-card-title-text>
	          	<md-card-title-media>
	            	<div class="md-media-lg card-media"></div>
	          	</md-card-title-media>
	        </md-card-title>
	        <md-card-content>
		        <p>
		        	{{ card.subtitle }}
		        </p>
	        		
        	</md-card-content>
	        <md-card-actions layout="row" layout-align="end center">
	          	<md-button>Action 1</md-button>
	          	<md-button>Action 2</md-button>
	        </md-card-actions>
	  	</md-card>
	</div>
</md-content>

</div>