<!-- home page code -->

<div id="homeContainer" layout="column">
	<div class="profile md-whitedrame-4dp" layout="row" layout-xs="column">
		
		<md-card class="cardContainer">
			<md-card-title layout="row" layout-xs="column">
          		<md-card-title-media>
            		<div class="md-media-lg card-media">
            			<img src="https://scontent-lax3-1.xx.fbcdn.net/v/t1.0-9/1173658_1751240445108604_4966159998605733920_n.jpg?oh=c96fb3a305b298561df1d8d65ae21ada&oe=584A2E03">
            		</div>
          		</md-card-title-media>
          		<md-card-title-text id="siteTitle" layout="column">
            		<span class="md-headline">Daniel Smith Development</span>
            		
          		</md-card-title-text>
          		
        	</md-card-title>
        	<md-card-content>
        		<md-list layout="column">
        			<md-list-item>
        				<p>github: <a href="https://github.com/danieljsmith93">https://github.com/danieljsmith93</a></p>
        			</md-list-item>
        			<md-list-item>
        				<p>email: <a href="mailto:danieljsmith93@gmail.com">danieljsmith93@gmail.com</a></p>
        			</md-list-item>
        			<md-list-item>
        				<p>number: (747)-234-7307</p>
        			</md-list-item>
        		</md-list>
        	</md-card-content>
		</md-card>

		
	</div>
</div>